name: server_status_monitor
description: A Flutter application for monitoring physical servers
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.6.0 <4.0.0'

dependencies:
  flutter_local_notifications: ^19.5.0
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

flutter_launcher_icons:
  android: true
  ios: false
  image_path: '/home/cryo/assets/icon.png'
  adaptive_icon_foreground: '/home/cryo/assets/icon.png'
